<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section_N</key>
		<string>120.362911</string>
		<key>section_E</key>
		<string>22.655590</string>
		<key>section_status</key>
		<false/>
		<key>section_content</key>
		<array>
			<dict>
				<key>row_park_status</key>
				<integer>0</integer>
				<key>row_content</key>
				<string>忠孝忠仁停車場</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>高雄市鳥松區忠孝路與忠仁路東北側
聯絡電話: 0985153396
營業時間: 24小時 
收費標準: 每半小時40元(當日連續停放最高收費400元)。月租收費：每月3,500元。</string>
				<key>row_height</key>
				<integer>80</integer>
				<key>row_hasdetail</key>
				<true/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>總車位數 163</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>導航至目的地</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_E</key>
		<string>22.649338</string>
		<key>section_N</key>
		<string>120.353304</string>
		<key>section_status</key>
		<false/>
		<key>section_content</key>
		<array>
			<dict>
				<key>row_content</key>
				<string>高雄長庚醫院復健大樓立體停車場</string>
				<key>row_park_status</key>
				<integer>0</integer>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>高雄市鳥松區大埤路127號 
聯絡電話: 
營業時間: 
收費標準: 30元/時</string>
				<key>row_height</key>
				<integer>80</integer>
				<key>row_hasdetail</key>
				<true/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>總車位數 750</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>導航至目的地</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_N</key>
		<string>120.350935</string>
		<key>section_E</key>
		<string>22.649725</string>
		<key>section_status</key>
		<false/>
		<key>section_content</key>
		<array>
			<dict>
				<key>row_content</key>
				<string>長庚醫院質子中心室外汽車停車場</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_park_status</key>
				<integer>0</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>高雄市鳥松區正修路
聯絡電話: 077317123
營業時間: 
收費標準: 20元/時，每日上限240元</string>
				<key>row_height</key>
				<integer>80</integer>
				<key>row_hasdetail</key>
				<true/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>總車位數 245</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>導航至目的地</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_N</key>
		<string>120.360034</string>
		<key>section_E</key>
		<string>22.655577</string>
		<key>section_status</key>
		<false/>
		<key>section_content</key>
		<array>
			<dict>
				<key>row_content</key>
				<string>澄清湖觀湖站停車場</string>
				<key>row_park_status</key>
				<integer>1</integer>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>高雄市鳥松區公園路近山明街 
聯絡電話: 07-2299836 
營業時間: 24小時 
收費標準: 計次30元/6小時</string>
				<key>row_height</key>
				<integer>80</integer>
				<key>row_hasdetail</key>
				<true/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>總車位數 78</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>導航至目的地</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_N</key>
		<string>120.363388</string>
		<key>section_E</key>
		<string>22.656599</string>
		<key>section_status</key>
		<false/>
		<key>section_content</key>
		<array>
			<dict>
				<key>row_content</key>
				<string>忠仁忠誠停車場</string>
				<key>row_park_status</key>
				<integer>2</integer>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>高雄市鳥松區忠仁路與忠孝路口西北側
聯絡電話: 0985892557
營業時間: 24時
收費標準: 月租收費：每月1,500元。</string>
				<key>row_height</key>
				<integer>80</integer>
				<key>row_hasdetail</key>
				<true/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>總車位數 48</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>導航至目的地</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_N</key>
		<string>120.359585</string>
		<key>section_E</key>
		<string>22.653077</string>
		<key>section_status</key>
		<false/>
		<key>section_content</key>
		<array>
			<dict>
				<key>row_content</key>
				<string>公園路停車場</string>
				<key>row_park_status</key>
				<integer>2</integer>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>高雄市鳥松區公園路
聯絡電話:
營業時間: 24時
收費標準: </string>
				<key>row_height</key>
				<integer>80</integer>
				<key>row_hasdetail</key>
				<true/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>總車位數 9</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>導航至目的地</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_N</key>
		<string>120.358835</string>
		<key>section_E</key>
		<string>22.651471</string>
		<key>section_status</key>
		<false/>
		<key>section_content</key>
		<array>
			<dict>
				<key>row_content</key>
				<string>澄清湖會管站停車場</string>
				<key>row_park_status</key>
				<integer>2</integer>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>高雄市鳥松區大埤路115號
聯絡電話: 0800208333
營業時間: 24時
收費標準: 15元/半小時</string>
				<key>row_height</key>
				<integer>80</integer>
				<key>row_hasdetail</key>
				<true/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>總車位數 160</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>導航至目的地</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_N</key>
		<string>120.358509</string>
		<key>section_E</key>
		<string>22.650603</string>
		<key>section_status</key>
		<false/>
		<key>section_content</key>
		<array>
			<dict>
				<key>row_content</key>
				<string>高雄勞工公園停車場</string>
				<key>row_park_status</key>
				<integer>3</integer>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>高雄市鳥松區長庚路與號公園路交叉口
聯絡電話: 0903135731
營業時間: 24時
收費標準: 計時15元/半小時</string>
				<key>row_height</key>
				<integer>80</integer>
				<key>row_hasdetail</key>
				<true/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>總車位數 182</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>導航至目的地</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_N</key>
		<string>120.349253</string>
		<key>section_E</key>
		<string>22.653447</string>
		<key>section_status</key>
		<false/>
		<key>section_content</key>
		<array>
			<dict>
				<key>row_content</key>
				<string>澄清湖西側</string>
				<key>row_park_status</key>
				<integer>2</integer>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>澄清湖風景區大門左側
聯絡電話: 07-2299836
營業時間: 24時
收費標準: 計次30元/6小時</string>
				<key>row_height</key>
				<integer>80</integer>
				<key>row_hasdetail</key>
				<true/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>總車位數 17</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
			<dict>
				<key>row_content</key>
				<string>導航至目的地</string>
				<key>row_height</key>
				<integer>20</integer>
				<key>row_hasdetail</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
