<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>girligURL</key>
		<string>https://www.instagram.com/llyincc__/</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girlnickName</key>
		<string>蔡沛穎</string>
		<key>girlsecondName</key>
		<string>療癒系</string>
		<key>girlheight</key>
		<string>165cm</string>
		<key>girImage</key>
		<string>linxi</string>
		<key>girlstar</key>
		<string>牡羊座</string>
		<key>girlbrithday</key>
		<string>1996/04/16</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.c1a675d4c9916ffea0830a50e57a7a1c.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string>甜蜜系</string>
		<key>girlnickName</key>
		<string>黃子宸</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/927987881965989/?ref=share&amp;mibextid=K35XfP&amp;rdid=9g8EhldMs3wnhqeE&amp;share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2FWJ7zAackxwdebdh8%2F%3Fmibextid%3DK35XfP</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/2005_2_11/</string>
		<key>girlheight</key>
		<string>164cm</string>
		<key>girlstar</key>
		<string>水瓶座</string>
		<key>girImage</key>
		<string>huanchengcheng</string>
		<key>girlbrithday</key>
		<string>2005/02/11</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>18</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.b2c75e1ec1c4554bd2fcec48b958ccdc.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>黃澄澄</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string>軟萌系</string>
		<key>girlnickName</key>
		<string>李宜軒</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/773585364712152/?ref=share_group_link</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/yi_shiuan_lee/</string>
		<key>girlheight</key>
		<string>165cm</string>
		<key>girlstar</key>
		<string>處女座</string>
		<key>girImage</key>
		<string>quanquan</string>
		<key>girlbrithday</key>
		<string>1998/09/08</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>00</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.4ed72fe9545add3e2d10f5fd55fc62fe.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>圈圈</string>
	</dict>
	<dict>
		<key>girligURL</key>
		<string>https://www.instagram.com/cx_moon_/</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/3152843638182582/?_rdr</string>
		<key>girlnickName</key>
		<string>陳筱雯</string>
		<key>girlsecondName</key>
		<string>活力系</string>
		<key>girlheight</key>
		<string>170cm</string>
		<key>girlstar</key>
		<string>雙子座</string>
		<key>girImage</key>
		<string>youwen</string>
		<key>girlbrithday</key>
		<string>1999/05/22</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>52</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.60c160b28e1f9c2a535d5baf1949e2e6.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>筱雯</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string>軟萌系</string>
		<key>girlnickName</key>
		<string>方妡蔆</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/323656140685920/?ref=share&amp;mibextid=K35XfP&amp;rdid=EfEF66WZE8UW3xC8&amp;share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F842sAjHnuioficL8%2F%3Fmibextid%3DK35XfP</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/for_you_1105/</string>
		<key>girlheight</key>
		<string>150cm</string>
		<key>girlstar</key>
		<string>天蠍座</string>
		<key>girImage</key>
		<string>xiling</string>
		<key>girlbrithday</key>
		<string>2003/11/05</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>19</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/9be37cb1b421577f53c1de555ef89506.png</string>
		<key>girlName</key>
		<string>妡0</string>
	</dict>
	<dict>
		<key>girligURL</key>
		<string>https://www.instagram.com/_940905_/</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girlnickName</key>
		<string>林恬妤</string>
		<key>girlsecondName</key>
		<string>甜蜜系</string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>處女座</string>
		<key>girImage</key>
		<string>tianyu</string>
		<key>girlbrithday</key>
		<string>2005/09/05</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>5</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.3a620e633cb4217e66116f14c9f2cd0c.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>恬魚</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string>活力系</string>
		<key>girlnickName</key>
		<string>張庭宜</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string>https://www.instagram.com/xnirene_/</string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>巨蟹座</string>
		<key>girImage</key>
		<string>ailin</string>
		<key>girlbrithday</key>
		<string>2002/06/30</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>20</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/e9b6efc5b56df9e754f4888f60219dbd.png</string>
		<key>girlName</key>
		<string>艾琳</string>
	</dict>
	<dict>
		<key>girligURL</key>
		<string>https://www.instagram.com/yu_jun.hu/</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/940680454313420/?_rdr</string>
		<key>girlnickName</key>
		<string>吳俞君</string>
		<key>girlsecondName</key>
		<string>軟萌系</string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>魔羯座</string>
		<key>girImage</key>
		<string>kunkun</string>
		<key>girlbrithday</key>
		<string>2004/01/07</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>7</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.df518ed90dc556ac9d067cae125848c9.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>昆昆</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string>應援總監</string>
		<key>girlnickName</key>
		<string>安芝儇</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/wlgus2gh/?locale=zh_TW</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/wlgus2qh/</string>
		<key>girlheight</key>
		<string>169cm</string>
		<key>girlstar</key>
		<string>天秤座</string>
		<key>girImage</key>
		<string>anzhihuan</string>
		<key>girlbrithday</key>
		<string>1997/10/03</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>2</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.2bd4c95d606d232ad7d0a64fa13e3d2f.jpg.w337_h500.jpg</string>
		<key>girlName</key>
		<string>安芝儇</string>
	</dict>
	<dict>
		<key>girligURL</key>
		<string>https://www.instagram.com/ilixoxov/</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/913163913929547/?ref=sharehttps%3A%2F%2Fwww.facebook.com%2Fgroups%2F913163913929547%2F%3Fref%3Dshare&amp;exp=8ce3&amp;fs=e&amp;s=cl</string>
		<key>girlnickName</key>
		<string>趙宜莉</string>
		<key>girlsecondName</key>
		<string>軟萌系</string>
		<key>girlheight</key>
		<string>158cm</string>
		<key>girImage</key>
		<string>yili</string>
		<key>girlstar</key>
		<string>金牛座</string>
		<key>girlbrithday</key>
		<string>1999/04/22</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>22</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.043eee387cba056ec5958acc16a9186f.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>一粒</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string>甜蜜系</string>
		<key>girlnickName</key>
		<string>李姮樂</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/1240283343599139/?ref=share_group_link</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/lunelile/</string>
		<key>girlheight</key>
		<string>165cm</string>
		<key>girImage</key>
		<string>lile</string>
		<key>girlstar</key>
		<string>獅子座</string>
		<key>girlbrithday</key>
		<string>2003/07/31</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>10</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.a0e25e196a70f886cf19a782422b1909.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>李樂</string>
	</dict>
	<dict>
		<key>girligURL</key>
		<string>https://www.instagram.com/_min_go/</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/mingo0090/</string>
		<key>girlnickName</key>
		<string>朴旻曙</string>
		<key>girlsecondName</key>
		<string>表演總監</string>
		<key>girlheight</key>
		<string>165cm</string>
		<key>girlstar</key>
		<string>摩羯座</string>
		<key>girImage</key>
		<string>piaowenshu</string>
		<key>girlbrithday</key>
		<string>2000/12/28</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>90</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.edef5abfda9f9532ece1b71d0517ebb4.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>Mingo</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string>療癒系</string>
		<key>girlnickName</key>
		<string>黃羽瑈</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/390822627108811/?ref=share&amp;mibextid=K35XfP&amp;rdid=ZBknX37idJPuIT3X&amp;share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2FxSmETdL9fgZv77nL%2F%3Fmibextid%3DK35XfP</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/y.rouu_/</string>
		<key>girlheight</key>
		<string>170cm</string>
		<key>girlstar</key>
		<string>天蠍座</string>
		<key>girImage</key>
		<string>rourou</string>
		<key>girlbrithday</key>
		<string>2000/11/12</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>23</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.e5afa9e7ba541206d20f63b417966a43.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>瑈瑈</string>
	</dict>
	<dict>
		<key>girligURL</key>
		<string>https://www.instagram.com/jiayin_ching/</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/3562496487335448/?ref=share&amp;mibextid=NSMWBT&amp;_rdr</string>
		<key>girlnickName</key>
		<string>莊佳熒</string>
		<key>girlsecondName</key>
		<string>活力系</string>
		<key>girlheight</key>
		<string>170cm</string>
		<key>girlstar</key>
		<string>處女座</string>
		<key>girImage</key>
		<string>jc</string>
		<key>girlbrithday</key>
		<string>2000/09/10</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>16</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.acc20423477021c33e4f084fe1905ba1.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>JC</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string>療癒系</string>
		<key>girlnickName</key>
		<string>蔡佩螢</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/yingfansclub/?ref=share_group_link</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/yinnng_0522/</string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>雙子座</string>
		<key>girlbrithday</key>
		<string>1997/05/22</string>
		<key>girImage</key>
		<string>yingying</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>62</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>螢螢</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>簡妏錡</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>牡羊座</string>
		<key>girlbrithday</key>
		<string>1997/03/30</string>
		<key>girImage</key>
		<string>fanfan</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>57</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>芃芃</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>張惠晴</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>水瓶座</string>
		<key>girlbrithday</key>
		<string>1997/01/30</string>
		<key>girImage</key>
		<string>huiqing</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>66</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>會晴</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>林芊妤</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>天秤座</string>
		<key>girlbrithday</key>
		<string>1995/10/04</string>
		<key>girImage</key>
		<string>jiujiu</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>99</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>玖玖</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>毛凱薇</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>雙魚座</string>
		<key>girlbrithday</key>
		<string>1996/03/09</string>
		<key>girImage</key>
		<string>maomao</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>39</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>毛毛</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>呂米妮</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>摩羯座</string>
		<key>girlbrithday</key>
		<string>2003/01/03</string>
		<key>girImage</key>
		<string>mini</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>3</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>米妮</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>王文伶</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>天蠍座</string>
		<key>girlbrithday</key>
		<string>1998/11/17</string>
		<key>girImage</key>
		<string>miya</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>8</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>米亞</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>黃可欣</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>射手座</string>
		<key>girlbrithday</key>
		<string>1999/12/10</string>
		<key>girImage</key>
		<string>nimo</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>6</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>尼莫</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>陳俞蓁</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>雙子座</string>
		<key>girlbrithday</key>
		<string>2002/05/22</string>
		<key>girImage</key>
		<string>nina</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>84</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>NINA</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>潘怡千</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>處女座</string>
		<key>girlbrithday</key>
		<string>2000/09/15</string>
		<key>girImage</key>
		<string>qianqian</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>15</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>千千</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>黃鈺婷</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>水瓶座</string>
		<key>girlbrithday</key>
		<string>2001/01/20</string>
		<key>girImage</key>
		<string>youtou</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>75</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>芋頭</string>
	</dict>
	<dict>
		<key>girlsecondName</key>
		<string></string>
		<key>girlnickName</key>
		<string>陳怡婷</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlheight</key>
		<string>168cm</string>
		<key>girlstar</key>
		<string>獅子座</string>
		<key>girlbrithday</key>
		<string>1999/07/31</string>
		<key>girImage</key>
		<string>ET</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>17</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.cc21e68107df452be376bda40b424a20.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>ET</string>
	</dict>
</array>
</plist>
