<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
	<dict>
		<key>girlclassdatestatus</key>
		<false/>
		<key>girIclassdate</key>
		<string>2024/5/4</string>
		<key>girlNO</key>
		<string>33</string>
		<key>girlName</key>
		<string>林浠</string>
	</dict>
</array>
</plist>
