<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>member</key>
		<array>
			<dict>
				<key>memberMusictext</key>
				<string>\ 台鋼雄鷹 / 

舞台上的鋼鐵英雄 
雄鷹般地主宰天空 
時而兇猛 時而英勇 
向前衝鋒 決不退縮 
綠衣戰士 金光閃爍 
目標鎖定 一一擊破 
就連女神 躲在湖中 
也被我感動 

\ 台鋼雄鷹 / 
有想過 放棄嗎 
流著汗 為初衷 
日復一日的訓練 
從未動搖的信念 

堅定不移的決心 
Never Give Up 

為著所愛來打拚
一天一天在流汗 
這一切袂擱退後 
有你有我作夥行 
我永遠攏毋驚 
Fly to the Sky

 \ 台鋼雄鷹 / 

舞台上的鋼鐵英雄 
雄鷹般地主宰天空 
時而兇猛 時而英勇 
向前衝鋒 決不退縮 
綠衣戰士 金光閃爍 
目標鎖定 一一擊破 
就連女神 躲在湖中 
也被我感動 


沒人在意 
任拼盡全力 
持續相信 
相信自己（I’m IN） 
掌握勝利彼此面對困境 
Fight to Win 
直球對決衝刺本壘三振 
Home Run Team 
全新的球隊揮灑汗水撼動著球迷 
就算再辛苦無所畏懼來邁向冠軍 
一球入魂 
一生懸命 
快一起加入台鋼雄鷹（I’m IN） 

舞台上的鋼鐵英雄 
雄鷹般地主宰天空 
時而兇猛 時而英勇 
向前衝鋒 決不退縮 
綠衣戰士 金光閃爍 
目標鎖定 一一擊破 
就連女神 躲在湖中 
也被我感動</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/7a8tsWuFxjY</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=npO3k07Tsks</string>
				<key>memberName</key>
				<string>I&apos;m IN！</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/FrAGAJgqYHM</string>
				<key>memberVideolink</key>
				<string>https://youtu.be/jXY_MGYZMrI</string>
				<key>memberName</key>
				<string>高雄之歌</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/CjNQLEOKENs</string>
				<key>memberVideolink</key>
				<string></string>
				<key>memberName</key>
				<string>雄鷹之歌</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/qkfbAfTwlMs</string>
				<key>memberVideolink</key>
				<string>https://youtu.be/w_a-qVzP_os</string>
				<key>memberName</key>
				<string>吉祥物之歌</string>
			</dict>
			<dict>
				<key>memberName</key>
				<string>勇敢蛻變</string>
				<key>memberVideolink</key>
				<string>https://youtu.be/OHk9zerytOs</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/su5hkILf3bc</string>
				<key>memberMusictext</key>
				<string></string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>戰鼓聲響亮 在天地之間迴響 
榮譽在胸膛 雄鷹展翅去飛翔 
雄鷹光芒 照亮每個人的心房 
為夢想 堅持勇敢又堅強 

縱橫在球場 過關斬將雄鷹強 
一身是膽 南北去闖蕩 
縱橫在球場 過關斬將雄鷹強 
寫下輝煌 雄心壯志在四方 

喔嗨洋Yu 喔嗨洋Ho Yu 
我們團結在一起 希望就燃起 
喔嗨洋Yu 喔嗨洋Ho Yu 
我們團結在一起 併肩奪第一 

雄鷹展翅我全力衝刺 邁向勝利的道路 
鷹勇的戰士堅定著腳步 
雄鷹展翅我專心一志 實現夢想的藍圖 
這條路或許會辛苦 
就算逆風飛翔雄鷹已展翅 

戰鼓聲響亮 在天地之間迴響 
榮譽在胸膛 雄鷹展翅去飛翔 
雄鷹光芒 照亮每個人的心房 
為夢想 堅持勇敢又堅強 

縱橫在球場 過關斬將雄鷹強 
一身是膽 南北去闖蕩 
縱橫在球場 過關斬將雄鷹強 
寫下輝煌 雄心壯志在四方 

喔嗨洋Yu 喔嗨洋Ho Yu 
我們團結在一起 希望就燃起 
喔嗨洋Yu 喔嗨洋Ho Yu 
我們團結在一起 併肩奪第一 

雄鷹展翅我全力衝刺 邁向勝利的道路 
鷹勇的戰士堅定著腳步 
雄鷹展翅我專心一志 實現夢想的藍圖 
這條路或許會辛苦 
就算逆風飛翔雄鷹已展翅</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/594WqQ-74Bc</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=SbEvUx8oe98</string>
				<key>memberName</key>
				<string>雄鷹展翅</string>
			</dict>
			<dict>
				<key>memberVideolink</key>
				<string></string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/K8ryKrqpj0E</string>
				<key>memberMusictext</key>
				<string></string>
				<key>memberName</key>
				<string>翅膀硬了</string>
			</dict>
		</array>
		<key>category</key>
		<string>雄鷹主題曲</string>
	</dict>
	<dict>
		<key>member</key>
		<array>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/D_v8rKsL64o</string>
				<key>memberVideolink</key>
				<string></string>
				<key>memberName</key>
				<string>開場序曲</string>
			</dict>
			<dict>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=ALMK2AQLkW4</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/iLf-pd25Wqg</string>
				<key>memberMusictext</key>
				<string>戰鬥吧 
 
雄鷹啊 
 
進攻吧 
 
雄鷹啊 
 
Ho~~ Ho~~ 
 
串連進攻 火力猛 
 
不停轟最威風 
 
Ho~~ Ho~~ 
 
台鋼的鷹雄 氣勢如虹 
 
全力轟 
 
Ho~~Ho~~ 
 
Ho~~Ho~~ 
 
把握機會向前行 
 
第一名 
 
台鋼鷹雄一定贏 
 
作伙拚 
 
把握機會向前行 
 
第一名 
 
台鋼鷹雄一定贏 
 
作伙拚 </string>
				<key>memberName</key>
				<string>敢衝敢拚</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>就是這一刻 得分的時候 

台鋼的鷹雄 攻無不克 

棒棒都開轟 勝利是我的 

台鋼的鷹雄 齊來唱和 

台鋼雄鷹 安打！ 

台鋼雄鷹 全壘打！ 

（重複四次） 

啦啦啦啦啦啦 啦啦啦啦啦啦 

啦啦啦啦啦啦 啦啦啦啦啦啦</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/Ijl02SadKUk</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=X1fxomeRgTk</string>
				<key>memberName</key>
				<string>氣蓋山河</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>我展開攻擊 
 
雄鷹戰到底 
你最好快放棄 
 
榮譽在心底 
We fighting 奪第一 
 
雄鷹戰到底 
你最好快放棄 
 
剛強的毅力 
We fighting 奪第一 
 
Hey Hey Hey Hey 
 
We fighting go 
我就是有氣魄 
 
We fighting go 
全力拚鬥 
 
We fighting go 
把勝利握在手 
 
We fighting 
together</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/BKt7EXMiL7g</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=vfCvjxn3drY</string>
				<key>memberName</key>
				<string>展開攻擊</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>Ho a I ye yan 
 
l-ye-yan 
 
ho a i yak ho i yan 
 
Semenasenay 
 
a risarisan 
 
ho a i yan ho i yan 
 
Ho i yan 
 
naru hay yan 
 
Ho i yan-ho i yan 
 
（球員名）（球員名） 
 
Hito Hito 
 
（球員名）（球員名）（球員名） 
 
Home Run Home Run 
 
（球員名） Ho a i ye yan 
 
（球員名） 
 
ho a i yan ho i yan 
 
Semenasenay（球員名） 
 
ho a i yan ho i yan 
 
台鋼雄鷹 </string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/6eckJiS3YeM</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=hzsXQ7wcYnE</string>
				<key>memberName</key>
				<string>南王之歌</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>台鋼雄鷹 
 
展翅從天而降 
 
為了實現 
 
職棒夢想 
 
狂熱如太陽 
 
台鋼雄鷹 
勇敢又堅強 
 
台鋼雄鷹 
勇敢又堅強 
 
點燃著希望 
飛向勝利殿堂 
 
點燃著希望 
飛向勝利殿堂 
 
HO HO HO HO HO 
HO HO HO HO HO 
 
La La La La La 
La La La La La La 
 
HO HO HO HO HO 
HO HO HO HO HO 
 
La La La La La 
La La La La La La 
 
壯志雄心 台鋼雄鷹 
 
台鋼雄鷹 
勇敢又堅強 
 
台鋼雄鷹 
勇敢又堅強 
 
點燃著希望 
飛向勝利殿堂 
 
點燃著希望 
飛向勝利殿堂 
 
HO HO HO HO HO 
HO HO HO HO HO 
 
La La La La La 
La La La La La La 
 
HO HO HO HO HO 
HO HO HO HO HO 
 
La La La La La 
La La La La La La 
 
台鋼雄鷹勇敢又堅強 
點燃著希望飛向勝利殿堂 </string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/SmUWZib_gIs</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=EhCyKpn7Gfc</string>
				<key>memberName</key>
				<string>勝利殿堂</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>勝利在我 
為我來拍手 
 
雄鷹是我 
為我來加油 
 
得分時刻 
全力來掌握 
 
台鋼雄鷹 
不退縮不放手 
 
Fighting Go 
Fighting Go 
 
Hito Hito 
打不停 
 
Fighting Go 
Fighting Go 
 
Hito Hito 
我最行 </string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/0ZjUs03PfEY</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=zFmlK1yFiP0</string>
				<key>memberName</key>
				<string>勝利歌 </string>
			</dict>
		</array>
		<key>category</key>
		<string>嗆司＆局間曲</string>
	</dict>
	<dict>
		<key>member</key>
		<array>
			<dict>
				<key>memberMusictext</key>
				<string>NA NA NA NA NA
NA NA NA NA NA
NA NA NA NA NA
NA NA NA NA NA
NA NA NA NA 

NA NA NA NA NA
NA NA NA NA NA
NA NA NA NA NA
NA NA NA NA NA
NA NA NA NA

台鋼 hey sa hey
雄鷹 hey sa hey</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/AJ1kXIS0XJQ</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=y7qsxeWRQjg</string>
				<key>memberName</key>
				<string>Hey Sa Hey</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>GO!

OH OH-Lay-OH
OH OH-Lay-OH
OH OH-Lay-OH

雄鷹球棒火熱 GO!

OH OH-Lay-OH
OH OH-Lay-OH
OH OH-Lay-OH

GO GO GO

雄鷹展翅
GO GO GO

得分得分
GO GO GO

最強雄鷹
GO GO GO

旗開得勝
GO

奪勝利
OH OH-Lay-OH
OH GOGO

OH OH-Lay-OH
OH GOGO

OH OH-Lay-OH
OH GOGO

OH OH-Lay-OH
OH GOGO</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/x6kbs29LJsc</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=RdB5dtrhzSU</string>
				<key>memberName</key>
				<string>OH Lay OH</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/3cbOA47SX1E</string>
				<key>memberVideolink</key>
				<string>https://youtu.be/xcl0Y37pNsI</string>
				<key>memberName</key>
				<string>Hito</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/IE65SqEQQfE</string>
				<key>memberVideolink</key>
				<string>https://youtu.be/hd6ptDHUbGo</string>
				<key>memberName</key>
				<string>Homerun</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/2oO75S-1uvs</string>
				<key>memberVideolink</key>
				<string>https://youtu.be/Ic2AD-ox7rU</string>
				<key>memberName</key>
				<string>盜壘歌</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/6-kJReb_RLQ</string>
				<key>memberVideolink</key>
				<string>https://youtu.be/SDe9yhJy8Tc</string>
				<key>memberName</key>
				<string>雄鷹GO</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>跟著節奏
拍手拍拍手喔

安打全壘打雄鷹
（球員名）

台鋼雄鷹
加油加加油喔

安打全壘打雄鷹
（球員名）

跟著節奏
拍手拍拍手喔

安打全壘打雄鷹
（球員名）

台鋼雄鷹
加油加加油喔

安打全壘打雄鷹
（球員名）

GO!
Everybody

為勝利
拍手加油

安打全壘打雄鷹
（球員名）

跟著節奏
拍手拍拍手喔

安打全壘打雄鷹
（球員名）

台鋼雄鷹
加油加加油喔

安打全壘打雄鷹
（球員名）

跟著節奏
拍手拍拍手喔

安打全壘打雄鷹
（球員名）

台鋼雄鷹
加油加加油喔

安打全壘打雄鷹
（球員名）

GO!
Everybody

為勝利
拍手加油</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/fOP5CzC00qI</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=AkB7ruzn2b8</string>
				<key>memberName</key>
				<string>拍手歌</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>Go~
安打 全壘打
安打 全壘打

什麼球來我都打
什麼球來我都打

安打 安打
打安打 打安打

全壘打 全壘打
全壘打 全壘打

Go~
我的主場我最大
台鋼雄鷹最會打
Sa Sa Sa Sa
台鋼雄鷹
Go~
我的主場我最大
雄鷹團結力量大
Sa Sa Sa Sa
台鋼雄鷹</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/awbaPZkOvNo</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=w70Q-NvEwYQ</string>
				<key>memberName</key>
				<string>雄鷹無敵</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/zQYP7aQMEzk</string>
				<key>memberVideolink</key>
				<string></string>
				<key>memberName</key>
				<string>勝利在我</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>台鋼鷹勇的戰士 
（球員名） 
 
展開猛烈的攻擊 
（球員名） 
 
台鋼鷹勇的戰士 
（球員名） 
 
雄心壯志 
一棒飛出去 
 
Hey Hey Hey Hey 
Hey Hey Hey Hey 
（球員名） 
 
Hey Hey Hey Hey 
Hey Hey Hey Hey 
（球員名） 
 
Hey Hey Hey Hey 
Hey Hey Hey Hey 
（球員名） 
 
Hey Hey Hey Hey 
一棒飛出去 
 
台鋼雄鷹 
雄心壯志 
 
強悍雄鷹 
團結一心 
 
台鋼雄鷹 
雄心壯志 
 
強悍雄鷹 
團結一心 
 
台鋼鷹勇的戰士 
（球員名） 
 
展開猛烈的攻擊 
（球員名） 
 
台鋼鷹勇的戰士 
（球員名） 
 
雄心壯志 
一棒飛出去 </string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/RFco7XW24-c</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=_7sPXWJoEhs</string>
				<key>memberName</key>
				<string>鷹勇戰士</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>戰鬥吧雄鷹
HO HO HO HO
HO HO HO HO
榮譽在 我心裡
化成了勇氣
HO HO HO HO
HO HO HO HO

奪 勝
我全力戰鬥
HO HO HO HO
HO HO HO HO

每一戰 我敢拚
創造了奇蹟
HO HO HO HO
HO HO HO HO

台 鋼
戰鬥吧雄鷹
台鋼雄鷹 我戰力堅定
雄心壯志 戰鬥吧雄鷹
台鋼雄鷹 我戰力堅定
雄心壯志 戰鬥吧雄鷹</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/Q3h6-1ZZa1w</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=PGm6zQdY9wM</string>
				<key>memberName</key>
				<string>戰鬥吧！雄鷹</string>
			</dict>
		</array>
		<key>category</key>
		<string>應援曲</string>
	</dict>
	<dict>
		<key>member</key>
		<array>
			<dict>
				<key>memberMusictext</key>
				<string>急速攻擊
曾子祐 安打
突破重圓
曾子祐 全壘打
YOYO 安打
YOYO 全壘打</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/5jNhnfhXMY8</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=GLmId6bBug0</string>
				<key>memberName</key>
				<string>#1 曾子祐 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>台鋼 豪杰 鷹勇 文杰！
勇敢 挑戰一切
速度 超越極限
帶領台鋼勝利告捷 陳文杰！
勇敢 挑戰一切
速度 超越極限
帶領台鋼勝利告捷 陳文杰！
台鋼 豪杰 鷹勇 文杰！</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/Qxcp9NDzFds</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=bEASXlL8aqk</string>
				<key>memberName</key>
				<string>#3 陳文杰 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>內旋外旋 內旋外旋
王博玄
一棒過牆 全壘打
內旋外旋 內旋外旋
王博玄
勝利凱旋 王博玄</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/VhFirA8vhDo</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=gKmnK_griFc</string>
				<key>memberName</key>
				<string>#6 王博玄 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>台鋼護衛
郭永維
見義勇為
郭永維</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/lmOnJy94zKU</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=KXkPPYFSykc</string>
				<key>memberName</key>
				<string>#7 郭永維 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>嘿嘿嘿 嘿嘿嘿
柏融大王 嘿嘿嘿
台鋼大王
嘿嘿嘿 柏融大王
嘿嘿嘿 台鋼大王</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/qMb4JR_0G8w</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=_OAH-yqZf5c</string>
				<key>memberName</key>
				<string>#9 王柏融 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>Sa sa  

安打 全壘打 

Sa sa  

安打 全壘打 </string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/JwbyOJyC6eU</string>
				<key>memberVideolink</key>
				<string>https://youtu.be/AvTms9Qo8uo</string>
				<key>memberName</key>
				<string>#16林家鋐 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>紀慶然
紀慶然
打擊硬漢 紀慶然
勝利必然 紀慶然
紀慶然 熱血然
勝利必然 紀慶然</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/sof_LglDehk</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=bN0Y9GU2YyQ</string>
				<key>memberName</key>
				<string>#24 紀慶然 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>球給肇元 飛得好遠
巨棒灰揮擊 誰能批匹敵
轟吧！ 肇元！ 轟得！ 好遠！
轟 到 最 遠
張肇元</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/-A97IK6MnWI</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=1oKT9uX_Q_w</string>
				<key>memberName</key>
				<string>#29 張肇元 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>一路狂  一路轟
吳明鴻
一路狂轟吳明鴻
吳明鴻
安打全壘打
吳明鴻</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/88uIBCFDlMY</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=TvYrU6nnHls</string>
				<key>memberName</key>
				<string>#31 吳明鴻 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>台鋼拋瓦 吳念庭 
嘿 
嘿嘿嘿 
嘿 
嘿嘿嘿 
嘿 
嘿嘿嘿 </string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/jL0Z_kt6Fps</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=I2cK_wD72j8</string>
				<key>memberName</key>
				<string>#39 吳念庭 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>JC GO 黃劼希

JC GO 黃劼希

JC GO 黃劼希

鷹勇出擊 黃劼希

Fighting Go

Fighting Go

HITO HOME RUN

黃劼希

JC GO JC GO

JC GO JC GO</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/9VNoumzx3Vo</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=aLEQ6rn5FZY</string>
				<key>memberName</key>
				<string>#42 黃劼希 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>勁風郭卓 

郭阜林 

疾風一斬 

郭卓 

疾風一斬 

郭阜林 </string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/3U3plEOtGEw</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=qkyOD7f0coI</string>
				<key>memberName</key>
				<string>#59郭阜林 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>杜家明強襲猛攻

大棒揮擊

一棒就要揮出去

杜家明強襲猛攻

大棒揮擊

安打安打全壘打</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/rSvYJMMSHZg</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=Qj6-MpYhCpQ</string>
				<key>memberName</key>
				<string>#71 杜家明 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>安打安打

葉保弟

保勝大弟

葉保弟

保勝勝利

葉保弟

勝利出擊

葉保弟</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/4YnweDh0sQI</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=4mZLN3r20yw</string>
				<key>memberName</key>
				<string>#73 葉保弟 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>洪瑋漢

鐵漢的衝擊 洪瑋漢

雄鷹的硬漢 洪瑋漢

炸裂衝擊 洪瑋漢

鐵漢猛擊 洪瑋漢</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/4JSOL2ehDIs</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=ubk3uDMr-_I</string>
				<key>memberName</key>
				<string>#77 洪瑋漢 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>一擊致霸 藍88

用力轟吧 藍88

 一鼓作氣 藍寅倫

安打 全壘打

88致霸</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/MDhuzd_hpuA</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=jWoYCTw10hM</string>
				<key>memberName</key>
				<string>#88 藍寅倫 🦅</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string>Let’s Go! Figjting! 
咿～呀～嘿！殺！</string>
				<key>memberMusiclink</key>
				<string>https://youtu.be/6-BSqEh0SJI</string>
				<key>memberVideolink</key>
				<string>https://www.youtube.com/watch?v=a1JXhIM21xY</string>
				<key>memberName</key>
				<string>#94 魔鷹 🦅</string>
			</dict>
		</array>
		<key>category</key>
		<string>球員應援曲</string>
	</dict>
	<dict>
		<key>member</key>
		<array>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string></string>
				<key>memberVideolink</key>
				<string>https://music.youtube.com/channel/UCbXwnOO4m6LWDEjoR_dOJ5g</string>
				<key>memberName</key>
				<string>YouTube</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string></string>
				<key>memberVideolink</key>
				<string>https://open.spotify.com/artist/6mrJ0N4ITNsJBP8FRLQMHj</string>
				<key>memberName</key>
				<string>Spotify</string>
			</dict>
			<dict>
				<key>memberMusictext</key>
				<string></string>
				<key>memberMusiclink</key>
				<string></string>
				<key>memberVideolink</key>
				<string>https://www.instagram.com/tsg_hawks/</string>
				<key>memberName</key>
				<string>Instagram</string>
			</dict>
		</array>
		<key>category</key>
		<string>其他</string>
	</dict>
</array>
</plist>
