<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>classtype</key>
		<string>WS 第一屆</string>
		<key>classstatus</key>
		<false/>
		<key>classlist</key>
		<array>
			<dict>
				<key>girlclass_name</key>
				<string>安芝儇</string>
				<key>girlclass_no</key>
				<string>2</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>安芝儇</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>MINGO</string>
				<key>girlclass_no</key>
				<string>90</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>MINGO</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>林浠</string>
				<key>girlclass_no</key>
				<string>33</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>林浠</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>瑈瑈</string>
				<key>girlclass_no</key>
				<string>23</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>瑈瑈</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>一粒</string>
				<key>girlclass_no</key>
				<string>22</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>一粒</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>艾琳</string>
				<key>girlclass_no</key>
				<string>20</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>艾琳</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>妡0</string>
				<key>girlclass_no</key>
				<string>19</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>妡0</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>黃澄澄</string>
				<key>girlclass_no</key>
				<string>18</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>黃澄澄</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classtype</key>
		<string>WS 第二屆</string>
		<key>classstatus</key>
		<false/>
		<key>classlist</key>
		<array>
			<dict>
				<key>girlclass_name</key>
				<string>安芝儇</string>
				<key>girlclass_no</key>
				<string>2</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>安芝儇</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>MINGO</string>
				<key>girlclass_no</key>
				<string>90</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>MINGO</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>林浠</string>
				<key>girlclass_no</key>
				<string>33</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>林浠</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>瑈瑈</string>
				<key>girlclass_no</key>
				<string>23</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>瑈瑈</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>一粒</string>
				<key>girlclass_no</key>
				<string>22</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>一粒</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>艾琳</string>
				<key>girlclass_no</key>
				<string>20</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>艾琳</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>妡0</string>
				<key>girlclass_no</key>
				<string>19</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>妡0</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>黃澄澄</string>
				<key>girlclass_no</key>
				<string>18</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>黃澄澄</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classtype</key>
		<string>鷹援團</string>
		<key>classstatus</key>
		<false/>
		<key>classlist</key>
		<array>
			<dict>
				<key>girlclass_name</key>
				<string>TAKAO</string>
				<key>girlclass_no</key>
				<string></string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>TAKAO</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>Matt</string>
				<key>girlclass_no</key>
				<string></string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>Matt</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>柏澄</string>
				<key>girlclass_no</key>
				<string></string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>柏澄</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>奧丁</string>
				<key>girlclass_no</key>
				<string>23</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>奧丁</string>
			</dict>
			<dict>
				<key>girlclass_name</key>
				<string>沐妍</string>
				<key>girlclass_no</key>
				<string>22</string>
				<key>girlclass_icon</key>
				<string></string>
				<key>girlclass_nickname</key>
				<string>沐妍</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
