<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>girlweight</key>
		<string>68 kg</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/llyincc__/</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girlnickName</key>
		<string>Matt</string>
		<key>girlsecondName</key>
		<string>朝氣鷹雄</string>
		<key>girlheight</key>
		<string>176 cm</string>
		<key>girImage</key>
		<string>3x_Matt</string>
		<key>girlstar</key>
		<string>牡羊座</string>
		<key>girlbrithday</key>
		<string>04/09</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>打棒球、旅行、聽Podcast</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.c1a675d4c9916ffea0830a50e57a7a1c.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>Matt</string>
	</dict>
	<dict>
		<key>girlweight</key>
		<string>65 kg</string>
		<key>girlsecondName</key>
		<string>陽光鷹雄</string>
		<key>girlnickName</key>
		<string>柏澄</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/927987881965989/?ref=share&amp;mibextid=K35XfP&amp;rdid=9g8EhldMs3wnhqeE&amp;share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2FWJ7zAackxwdebdh8%2F%3Fmibextid%3DK35XfP</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/2005_2_11/</string>
		<key>girlheight</key>
		<string>177 cm</string>
		<key>girlstar</key>
		<string>天秤座</string>
		<key>girImage</key>
		<string>3x_柏澄</string>
		<key>girlbrithday</key>
		<string>1996/10/15</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>運動健身、講脫口秀</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.b2c75e1ec1c4554bd2fcec48b958ccdc.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>柏澄</string>
	</dict>
	<dict>
		<key>girlweight</key>
		<string>60 kg</string>
		<key>girlsecondName</key>
		<string>帥氣鷹雄</string>
		<key>girlnickName</key>
		<string>奧丁</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/773585364712152/?ref=share_group_link</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/yi_shiuan_lee/</string>
		<key>girlheight</key>
		<string>177 cm</string>
		<key>girlstar</key>
		<string>金牛座</string>
		<key>girImage</key>
		<string>3x_奧丁</string>
		<key>girlbrithday</key>
		<string>1988/05/14</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string>彈鋼琴、跳舞、畫畫</string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.4ed72fe9545add3e2d10f5fd55fc62fe.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>奧丁</string>
	</dict>
	<dict>
		<key>girlweight</key>
		<string></string>
		<key>girligURL</key>
		<string></string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girlnickName</key>
		<string>沐妍</string>
		<key>girlsecondName</key>
		<string>活力系</string>
		<key>girlheight</key>
		<string></string>
		<key>girlstar</key>
		<string>牡羊座</string>
		<key>girImage</key>
		<string>3x_沐妍</string>
		<key>girlbrithday</key>
		<string>04/09</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string></string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.60c160b28e1f9c2a535d5baf1949e2e6.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>沐妍</string>
	</dict>
	<dict>
		<key>girlweight</key>
		<string></string>
		<key>girlsecondName</key>
		<string>地表最帥焦香鷹雄</string>
		<key>girlnickName</key>
		<string>TAKAO</string>
		<key>girlfacebookURL</key>
		<string>https://www.facebook.com/groups/323656140685920/?ref=share&amp;mibextid=K35XfP&amp;rdid=EfEF66WZE8UW3xC8&amp;share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F842sAjHnuioficL8%2F%3Fmibextid%3DK35XfP</string>
		<key>girligURL</key>
		<string>https://www.instagram.com/tsghawks_takao07/</string>
		<key>girlheight</key>
		<string></string>
		<key>girlstar</key>
		<string>金牛座</string>
		<key>girImage</key>
		<string>3x_TAKAO</string>
		<key>girlbrithday</key>
		<string>04/27</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string></string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/9be37cb1b421577f53c1de555ef89506.png</string>
		<key>girlName</key>
		<string>TAKAO</string>
	</dict>
	<dict>
		<key>girlweight</key>
		<string></string>
		<key>girligURL</key>
		<string>https://www.instagram.com/_940905_/</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girlnickName</key>
		<string>林恬妤</string>
		<key>girlsecondName</key>
		<string>甜蜜系</string>
		<key>girlheight</key>
		<string></string>
		<key>girlstar</key>
		<string>處女座</string>
		<key>girImage</key>
		<string>3x_TAKAMEI</string>
		<key>girlbrithday</key>
		<string>9月5日</string>
		<key>girIntime</key>
		<string>2024</string>
		<key>girlNO</key>
		<string></string>
		<key>girlURL</key>
		<string>https://cpblgirls.tw/files/member/cache.3a620e633cb4217e66116f14c9f2cd0c.jpg.w334_h500.jpg</string>
		<key>girlName</key>
		<string>TAKAMEI</string>
	</dict>
</array>
</plist>
