<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>teamiseagle</key>
		<false/>
		<key>teamgamebehind</key>
		<string>-</string>
		<key>teamwinningrate</key>
		<string>0.538</string>
		<key>teamsame</key>
		<string>0</string>
		<key>teamfail</key>
		<string>50</string>
		<key>teamwin</key>
		<string>70</string>
		<key>teamicon</key>
		<string>中信兄弟3x_L</string>
	</dict>
	<dict>
		<key>teamgamebehind</key>
		<string>3.5</string>
		<key>teamiseagle</key>
		<false/>
		<key>teamwinningrate</key>
		<string>0.555</string>
		<key>teamsame</key>
		<string>1</string>
		<key>teamfail</key>
		<string>53</string>
		<key>teamwin</key>
		<string>66</string>
		<key>teamicon</key>
		<string>統一獅3x_L</string>
	</dict>
	<dict>
		<key>teamgamebehind</key>
		<string>7.5</string>
		<key>teamwinningrate</key>
		<string>0.521</string>
		<key>teamiseagle</key>
		<false/>
		<key>teamsame</key>
		<string>1</string>
		<key>teamfail</key>
		<string>57</string>
		<key>teamwin</key>
		<string>63</string>
		<key>teamicon</key>
		<string>樂天桃猿3x_L</string>
	</dict>
	<dict>
		<key>teamgamebehind</key>
		<string>12</string>
		<key>teamwinningrate</key>
		<string>0.483</string>
		<key>teamiseagle</key>
		<false/>
		<key>teamsame</key>
		<string>0</string>
		<key>teamfail</key>
		<string>62</string>
		<key>teamwin</key>
		<string>58</string>
		<key>teamicon</key>
		<string>味全龍3x_L</string>
	</dict>
	<dict>
		<key>teamgamebehind</key>
		<string>16.5</string>
		<key>teamwinningrate</key>
		<string>0.445</string>
		<key>teamiseagle</key>
		<false/>
		<key>teamsame</key>
		<string>1</string>
		<key>teamfail</key>
		<string>66</string>
		<key>teamwin</key>
		<string>53</string>
		<key>teamicon</key>
		<string>富邦悍將3x_L</string>
	</dict>
	<dict>
		<key>teamgamebehind</key>
		<string>20.5</string>
		<key>teamwinningrate</key>
		<string>0.412</string>
		<key>teamiseagle</key>
		<true/>
		<key>teamsame</key>
		<string>1</string>
		<key>teamfail</key>
		<string>70</string>
		<key>teamwin</key>
		<string>49</string>
		<key>teamicon</key>
		<string>台鋼雄鷹3x_L</string>
	</dict>
</array>
</plist>
