<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000006949</string>
		<key>playerimage</key>
		<string>linshixiang</string>
		<key>playerNO</key>
		<string>5</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>大同學院</string>
		<key>playerfirstin</key>
		<string>2024/05/22</string>
		<key>playerbirthday</key>
		<string>2001/07/31</string>
		<key>playerweight</key>
		<string>83 KG</string>
		<key>playerheight</key>
		<string>181 CM</string>
		<key>playerxiguan</key>
		<string>右投左打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>林詩翔</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>xiebaoqi</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000006917</string>
		<key>playerNO</key>
		<string>10</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>國立體大</string>
		<key>playerfirstin</key>
		<string>2024/04/04</string>
		<key>playerbirthday</key>
		<string>1999/09/10</string>
		<key>playerweight</key>
		<string>93 KG</string>
		<key>playerheight</key>
		<string>184 CM</string>
		<key>playerxiguan</key>
		<string>右投左打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>謝葆錡</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>chenyuhong</string>
		<key>playerNO</key>
		<string>17</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000006833</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>台鋼科大</string>
		<key>playerfirstin</key>
		<string>2024/04/06</string>
		<key>playerbirthday</key>
		<string>2001/05/12</string>
		<key>playerweight</key>
		<string>73 KG</string>
		<key>playerheight</key>
		<string>180 CM</string>
		<key>playerxiguan</key>
		<string>右投右打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>陳宇宏</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>jitian</string>
		<key>playerNO</key>
		<string>41</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000007274</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>日本</string>
		<key>playerstudy</key>
		<string></string>
		<key>playerfirstin</key>
		<string>2024/08/25</string>
		<key>playerbirthday</key>
		<string>1989/09/24</string>
		<key>playerweight</key>
		<string>96 KG</string>
		<key>playerheight</key>
		<string>191 CM</string>
		<key>playerxiguan</key>
		<string>右投左打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>吉田一将</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>huangqun</string>
		<key>playerNO</key>
		<string>46</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000006982</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>南華大學</string>
		<key>playerfirstin</key>
		<string>2024/04/06</string>
		<key>playerbirthday</key>
		<string>2003/03/18</string>
		<key>playerweight</key>
		<string>81 KG</string>
		<key>playerheight</key>
		<string>176 CM</string>
		<key>playerxiguan</key>
		<string>左投左打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>黃群</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>wuyoucheng</string>
		<key>playerNO</key>
		<string>55</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000006921</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>平鎮高中</string>
		<key>playerfirstin</key>
		<string>2024/04/07</string>
		<key>playerbirthday</key>
		<string>2004/02/15</string>
		<key>playerweight</key>
		<string>90 KG</string>
		<key>playerheight</key>
		<string>180 CM</string>
		<key>playerxiguan</key>
		<string>右投左打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>伍祐城</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>chenweihao</string>
		<key>playerNO</key>
		<string>58</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000006750</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>國立體大</string>
		<key>playerfirstin</key>
		<string>2024/04/30</string>
		<key>playerbirthday</key>
		<string>1999/09/24</string>
		<key>playerweight</key>
		<string>79 KG</string>
		<key>playerheight</key>
		<string>177 CM</string>
		<key>playerxiguan</key>
		<string>右投右打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>陳暐皓</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>chenbaiqing</string>
		<key>playerNO</key>
		<string>66</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000006832</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>南華大學</string>
		<key>playerfirstin</key>
		<string>2024/04/06</string>
		<key>playerbirthday</key>
		<string>1998/10/25</string>
		<key>playerweight</key>
		<string>98 KG</string>
		<key>playerheight</key>
		<string>182 CM</string>
		<key>playerxiguan</key>
		<string>左投左打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>陳柏清</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>xuyuming</string>
		<key>playerNO</key>
		<string>74</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000006767</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>臺北市大</string>
		<key>playerfirstin</key>
		<string>2024/04/13</string>
		<key>playerbirthday</key>
		<string>1998/09/25</string>
		<key>playerweight</key>
		<string>82 KG</string>
		<key>playerheight</key>
		<string>180 CM</string>
		<key>playerxiguan</key>
		<string>左投左打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>許育銘</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>xujunyang</string>
		<key>playerNO</key>
		<string>84</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000005285</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>開南大學</string>
		<key>playerfirstin</key>
		<string>2021/10/13</string>
		<key>playerbirthday</key>
		<string>1998/03/23</string>
		<key>playerweight</key>
		<string>73 KG</string>
		<key>playerheight</key>
		<string>181 CM</string>
		<key>playerxiguan</key>
		<string>右投左打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>許峻暘</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>wubaiwei</string>
		<key>playerNO</key>
		<string>92</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000007066</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>崑山科大</string>
		<key>playerfirstin</key>
		<string>2024/05/22</string>
		<key>playerbirthday</key>
		<string>2002/10/02</string>
		<key>playerweight</key>
		<string>80 KG</string>
		<key>playerheight</key>
		<string>183 CM</string>
		<key>playerxiguan</key>
		<string>右投左打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>巫柏葳</string>
	</dict>
	<dict>
		<key>playerimage</key>
		<string>guoyuyan</string>
		<key>playerNO</key>
		<string>98</string>
		<key>playerpersonalachievements</key>
		<string>https://www.cpbl.com.tw/team/person?acnt=0000007068</string>
		<key>playSecondName</key>
		<string></string>
		<key>playercountry</key>
		<string>中華民國</string>
		<key>playerstudy</key>
		<string>台鋼科大</string>
		<key>playerfirstin</key>
		<string>2024/04/17</string>
		<key>playerbirthday</key>
		<string>2003/09/08</string>
		<key>playerweight</key>
		<string>85 KG</string>
		<key>playerheight</key>
		<string>185 CM</string>
		<key>playerxiguan</key>
		<string>右投右打</string>
		<key>playerposition</key>
		<string>投手</string>
		<key>playerName</key>
		<string>郭俞延</string>
	</dict>
</array>
</plist>
