<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>girligURL</key>
		<string>https://www.instagram.com/llyincc__/</string>
		<key>girlfacebookURL</key>
		<string></string>
		<key>girlnickName</key>
		<string>療癒系女孩</string>
		<key>girlsecondName</key>
		<string>療癒系</string>
		<key>girlheight</key>
		<string>165cm</string>
		<key>girImage</key>
		<string>linxi</string>
		<key>girlstar</key>
		<string>牡羊座</string>
		<key>girlbrithday</key>
		<string>4月16日</string>
		<key>playerxiguan</key>
		<string>2024</string>
		<key>playerNO</key>
		<string>33</string>
		<key>playerURL</key>
		<string>https://cpblgirls.tw/files/member/cache.c1a675d4c9916ffea0830a50e57a7a1c.jpg.w334_h500.jpg</string>
		<key>playerName</key>
		<string>林浠</string>
	</dict>
</array>
</plist>
