<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section_status</key>
		<false/>
		<key>row_content_normal</key>
		<dict>
			<key>row_content_normalhalfPrice</key>
			<integer>400</integer>
			<key>row_content_normalPrice</key>
			<integer>450</integer>
		</dict>
		<key>row_content_holiday</key>
		<dict>
			<key>row_content_holidayPrice</key>
			<string>650</string>
			<key>row_content_holidayhalfPrice</key>
			<string>650</string>
		</dict>
		<key>row_content_city</key>
		<string>澄清湖</string>
		<key>row_content_header</key>
		<string>熱區</string>
		<key>row_title</key>
		<string>熱區｜一壘I~K區、三壘P~R區</string>
	</dict>
	<dict>
		<key>row_content_holiday</key>
		<dict>
			<key>row_content_holidayPrice</key>
			<string>550</string>
			<key>row_content_holidayhalfPrice</key>
			<string>450</string>
		</dict>
		<key>row_content_normal</key>
		<dict>
			<key>row_content_normalhalfPrice</key>
			<integer>300</integer>
			<key>row_content_normalPrice</key>
			<integer>400</integer>
		</dict>
		<key>section_status</key>
		<false/>
		<key>row_content_city</key>
		<string>澄清湖</string>
		<key>row_content_header</key>
		<string>鷹眼席</string>
		<key>row_title</key>
		<string>鷹眼席｜VIP ABC、LMNO區</string>
	</dict>
	<dict>
		<key>row_content_holiday</key>
		<dict>
			<key>row_content_holidayPrice</key>
			<string>500</string>
			<key>row_content_holidayhalfPrice</key>
			<string>400</string>
		</dict>
		<key>row_content_normal</key>
		<dict>
			<key>row_content_normalhalfPrice</key>
			<integer>300</integer>
			<key>row_content_normalPrice</key>
			<integer>400</integer>
		</dict>
		<key>section_status</key>
		<false/>
		<key>row_content_city</key>
		<string>澄清湖</string>
		<key>row_content_header</key>
		<string>鷹援席</string>
		<key>row_title</key>
		<string>鷹援席｜一壘A~H區、三壘S~Z區、上層全區</string>
	</dict>
	<dict>
		<key>row_content_normal</key>
		<dict>
			<key>row_content_normalhalfPrice</key>
			<integer>200</integer>
			<key>row_content_normalPrice</key>
			<integer>200</integer>
		</dict>
		<key>row_content_holiday</key>
		<dict>
			<key>row_content_holidayPrice</key>
			<string>300</string>
			<key>row_content_holidayhalfPrice</key>
			<string>300</string>
		</dict>
		<key>section_status</key>
		<false/>
		<key>row_content_city</key>
		<string>澄清湖</string>
		<key>row_content_header</key>
		<string>外野自由座</string>
		<key>row_title</key>
		<string>外野自由座</string>
	</dict>
	<dict>
		<key>row_content_holiday</key>
		<dict>
			<key>row_content_holidayPrice</key>
			<string>500</string>
			<key>row_content_holidayhalfPrice</key>
			<string>400</string>
		</dict>
		<key>row_content_normal</key>
		<dict>
			<key>row_content_normalhalfPrice</key>
			<integer>300</integer>
			<key>row_content_normalPrice</key>
			<integer>400</integer>
		</dict>
		<key>section_status</key>
		<false/>
		<key>row_content_city</key>
		<string>澄清湖</string>
		<key>row_content_header</key>
		<string>客隊應援區</string>
		<key>row_title</key>
		<string>客隊應援區</string>
	</dict>
</array>
</plist>
